
@{
  //  ViewBag.Title = "Index";
}

<h2>Index</h2>

<form action="~/Controllers/Action" method="post">
<div>
    帳號:<input id="email" name="email" type="text" value="" /><br />
    密碼:<input id="password" type="password" value"" />
    <input id="isStudend" name="isStudent" type="checkbox" value="ture" />
    <input id="isNew" name="isNew" type="radio" value="0" />
    <input disa
</div>
</form>



@{
    var message = "hi";
    var success = false;

}
<p>
    @message
</p>

@if (success == true)
{
    <p>是學生</p>
}
else
{
    <p>不是學生</p>
}

@for (int i = 0; i < 11; i++)
{
    <p>@i</p>
}
